.sponsor .content-subcontainer {

  .content-item  {
    text-align: center;
    img {
      margin: 0.5em 1em;
      width: auto;
      height: 7em;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
