.awardmember {
  display: inline-block;
  text-align: center;
  margin: 0em;
}

.awardmember img.member-profile {
  width: auto;
  height: 5.5em;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.awardmember .member-name {
  color: #5b5b60;
  font-size: 1em;
  line-height: 1.5em;
}

.awardmember .member-info {
  color: #5b5b60;
  font-size: 0.8em;
  line-height: 1.5em;
}

p{
  margin-bottom: 0;
}

img.member-profile{
  width: auto;
  height: 7em;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 0 0;
}